@import '../../App.variables.scss';

.profile__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 92px;
    margin-bottom: 62px;

    @media (max-width: 768px) {
        gap: 64px;
    }

    @media (max-width: 360px) {
        gap: 42px;
    }
}
