@import '../../../../App.variables.scss';

.profile-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    gap: 30px;

    @media (max-width: 360px) {
        flex-direction: column;
        gap: 24px;
        align-self: center;
    }


    .profile-header__avatar-box {
        width: fit-content;
        height: fit-content;

        border-radius: 50%;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;

        @media (max-width: 768px) {
            width: 160px;
            height: 120px;
        }

        @media (max-width: 360px) {
            width: 150px;
            height: 130px;
        }
    }

    .profile-header__avatar-img {
        width: 170px;
        height: 118px;
        border-radius: 50%;
        background: $white-color;
        box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);

        @media (max-width: 768px) {
            width: 160px;
            height: 120px;
        }

        @media (max-width: 360px) {
            width: 150px;
            height: 130px;
        }
    }

    .add-photo {
        position: absolute;
        width: 120px;
        height: 42px;
        left: 0px;
        top: 75px;
        background: $text-color;
        opacity: .6;
        cursor: pointer;

        &::after {
            content: url(../../../../assets/svg/add-avatar.svg);
            display: inline-block;
            width: 32px;
            height: 32px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @media (max-width: 768px) {
            top: 78px;
            width: 115px;
        }

        @media (max-width: 360px) {
            top: 88px;
            width: 150px;
        }
    }

    .profile-header__fullname-box {
        width: 100%;
    }

    .profile-header__firstName,
    .profile-header__lastName {
        @include h1;
        text-align: left;

        @media (max-width: 360px) {
            font-weight: 500;
            font-size: 26px;
            line-height: 36px;
        }
    }

    .hidden {
        visibility: hidden;
        opacity: 0;
        margin: 0;
        padding: 0;
        width: 0;
        border: 0;
    }
}
